{{#each songs}}
	<div artist="{{artist}}" album="{{album}}" key="{{@key}}" class="filterArtist">
	
			<button type="button" class="btn btn-default btn-md" id="deleteButton">
  				<span class="glyphicon glyphicon-trash" aria-hidden="false"></span>
			</button>

			<p class="song-namewbutton">{{name}} | {{artist}} | {{album}}</p>
			

	</div>
{{/each}}
